<div class="featurebox">
	<h3>E.T. Leaderboard</h3>
	<p>Top Performers!</p>
	<ul>
		<li><strong>W. Buffet</strong>: +3,456%</li>
		<li><strong>J. Eye</strong>: +2,790%</li>
		<li><strong>P. Spencer</strong>: +2,456%</li>
		<li><strong>T. Parker</strong>: +2,224%</li>
		<li><strong>W. Holton</strong>: +2,134%</li>
		<li><strong>D. Afla</strong>: +2,789%</li>
		<li><strong>MA Holton</strong>: +1,678%</li>
		<li><strong>N. Afla</strong>: +1,456%</li>
		<li><strong>M. Holton</strong>: +1,046%</li>
	</ul>
</div>

<div class="featurebox">
	<h3>Some Other Feature</h3>
	<p>Equity Tycoon kicks so much ass it's unbelieveable</p>
	<ul>
		<li><strong>Stocks</strong></li>
		<li><strong>Bonds</strong></li>
		<li><strong>Short-sales</strong></li>
	</ul>
</div>

