<% form_tag '/home' do |f| -%>
  <fieldset>
	<h3>Login</h3>
  	<p class="login"><%# label_tag 'E-mail Address:' %><label for="email"><b>Email:</b></p>
	  <p class="login"><%= text_field_tag 'email', nil, :size => 20, :class => 'login' %></p>
	  <p class="login"><%# label_tag 'Password:' %><label for="password"><b>Password:</b></p>
		<p class="login"><%= password_field_tag(name = "password", value = nil, :class => 'login') %></p>
		<p class="login"><%= submit_tag 'Login' %></p>
		<p class="login" align="center">or</p>
		<div id="signup_home"><a href="">Sign Up Here</a></div>
	</fieldset>	
<% end -%>

