<div>Welcome, aspiring masters of speculation and arbitrage!  May you never need a bailout!</div>


<table class="table1">
	<thead>
		<tr>
		  <th colspan="6">Featured Portfolio</th>
	  </tr>

	</thead>
	<tbody>	
		<tr>
			<td colspan="6"><div id="sample_graph">[some graph here that looks like a pie chart]</div></td>
		</tr>	
		<tr>
		  <th>Stock</th><th>Price</th><th>Shares</th><th>Cost Basis</th><th>Purchase Date</th><th>% Gain/Loss</th>
	  </tr>
	
	<!-- loop through my port as a sample, for now, just make static -->

		<tr>
			<th class="sub">AAPL</td>
			<td>$124.80</td>
			<td>25</td>
			<td>$2200.32</td>
			<td>8/8/2009</td>
			<td>+ 34.4 %</td>
		</tr>
		<tr>
			<th class="sub">NBR</td>
			<td>$13.42</td>
			<td>100</td>
			<td>$1200.32</td>
			<td>8/8/2009</td>
			<td>+ 26.2 %</td>
		</tr>
		<tr>
			<th class="sub">PBR</td>
			<td>$32.45.80</td>
			<td>50</td>
			<td>$2100.00</td>
			<td>8/8/2009</td>
			<td>- 4.7 %</td>
		</tr>
		<tr>
			<th class="sub">PBR</td>
			<td>$32.45.80</td>
			<td>50</td>
			<td>$2100.00</td>
			<td>8/8/2009</td>
			<td>- 4.7 %</td>
		</tr>
		<tr>
			<th class="sub">PBR</td>
			<td>$32.45.80</td>
			<td>50</td>
			<td>$2100.00</td>
			<td>8/8/2009</td>
			<td>- 4.7 %</td>
		</tr>
		<tr>
			<th class="sub">PBR</td>
			<td>$32.45.80</td>
			<td>50</td>
			<td>$2100.00</td>
			<td>8/8/2009</td>
			<td>- 4.7 %</td>
		</tr>
		<tr>
			<th class="sub">PBR</td>
			<td>$32.45.80</td>
			<td>50</td>
			<td>$2100.00</td>
			<td>8/8/2009</td>
			<td>- 4.7 %</td>
		</tr>
	
	<!-- end loop -->
	</tbody>
</table>
