<%= render(:partial => 'layouts/tabs') %>

<div>Welcome, aspiring masters of speculation and arbitrage!  May you never need a bailout!</div>

<div id="container">
	<div id="login">
		<%= render(:partial => 'home/login') %>
	</div>
	<div id="sample">
		<%= render(:partial => 'home/sample_port') %>
	</div>
	<div id="leaders">
		<%= render(:partial => 'home/leaders') %>
	</div>
</div>

<div id="disclaimer">
While Equity Tycoon gives you real-time data, this site deals with fake dollars only, and is not to be used for gambling purposes, but as a fun and educational tool
</div>