<div class="tabs">
  <ul id="nav">
    <li class="first active" id="home"><%= link_to('Home', :controller => 'home', :action => 'index') %></li>
    <li id="teachers"><%= link_to('Teachers', :controller => 'home', :action => 'index') %></li>
		<li id="friends"><%= link_to('Friends', :controller => 'home', :action => 'index') %></li>
		<li class="last" id="leaderboard"><%= link_to('Leaderboard', :controller => 'home', :action => 'index') %></li>
  </ul>
</div>